# So-VITS-SVC
SVC_MODEL_PATH=logs/44k/G_55200.pth
SVC_CONFIG_PATH=logs/44k/config.json

# GPT-SoVITS
TTS_HOST=127.0.0.1
TTS_PORT=8000
TTS_DEVICE=cuda

# MSST
MSST_HOST=0.0.0.0
MSST_PORT=1145

# CUDA
CUDA_VISIBLE_DEVICES=0
